<!--onsubmit="return false;" 폼 자동 발송을 막음-->
<!--div -> form으로 바꾸고 onsubmit에 submitWriteForm()를 전달하면 엔터를 치는 것만으로도 폼이 발송됨.
버튼을 누르지 않고 엔터를 치기만 해도 로그인 되는 것과 같은 상황.-->
<form method="POST" action="/article/write" onsubmit="submitWriteForm(this); return false;"
      style="display: flex; flex-direction: column; gap: 20px; max-width: 500px">
    <input type="text" name = "title" placeholder="제목">

    <input type="text" name = "body" placeholder="내용">

    <button type="submit">
        글쓰기
    </button>
</form>

<script>
    function submitWriteForm(form){
        const inputTitle = form.title;
        const inputBody = form.body;

        inputTitle.value = inputTitle.value.trim(); //양끝에 공백 입력된 경우 trim으로 미리 제거
        inputBody .value= inputBody.value.trim(); //양끝에 공백 입력된 경우 trim으로 미리 제거

        const title = inputTitle.value;
        const body = inputBody.value;

        if(title.length == 0){
            alert('제목을 입력하세요.');
            inputTitle.focus();

            return;
        }
        if(body.length == 0){
            alert('내용을 입력하세요.');
            inputBody.focus();

            return;
        }

        form.submit();
    }
</script>